/**
 * The CSS in this file is for styling the demo page,
 * Meny's critical styles (such as transforms) are applied
 * via JavaScript.
 *
 * See the documentation here: https://github.com/hakimel/meny#meny
 *
 * @author Hakim El Hattab | http://hakim.se
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

a {
    color: #c2575b;
    text-decoration: none;

    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}

a:hover {
    color: #f76f76;
}

h1,
h2 {
    font-size: 18px;
}

/**
 * Main contents area
 */
.contents {
    background: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
    -webkit-transform-style: preserve-3d;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contents > article {
    max-width: 90%;
}

.contents p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}

.contents small {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;

    -webkit-text-size-adjust: none;
}

.contents .sharing {
    position: absolute;
    bottom: 20px;
}

#leftcolumn {
    width: 500px;
    border: 0px;
    float: left;
}

#rightcolumn {
    border: 0px;
    float: right;
}

.clear {
    clear: both;
}

